name: Echo Github environment variables

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Echo environment variables
        shell: bash
        run: script.sh